@media screen and (max-width: 600px) {
  .carousel img {
      width: 100%;
      height: auto;
  }

  .page-title {
      font-size: 1.5em;
  }
}


body {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background-aluraflix.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.half-color {
  background: linear-gradient(to right, #ff0000 50%);
  background-clip: text;
  color: red;
  display: inline-block;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  font-size: 2em;
  color: #ffffff;
  margin: 0 0 5px;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.carousel img {
  width: 100%; /* Defina a largura da imagem conforme necessário */
  height: auto; /* Defina a altura da imagem conforme necessário */
  margin-right: 20px;
  transition: transform 0.5s ease;
}

.carousel img:hover {
  transform: scale(1.2); /* Ajuste o valor para aumentar ou diminuir o zoom */
}

.carousel img:last-child {
  margin-right: 0;
}
.synopsis {
  font-size: 1em;
  display: none;
  color: #ffffff;
  margin-top: 10px;
}